body{
  font-family: futura-pt, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

h1{
  font-stretch: expanded;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  font-weight:400;
  padding: 10px 0 5px 0;
}

p{
  font-size: .9em;
  line-height: 1.5;
}

h2{
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.h2-about{
  color: black;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 1.3em;
  margin-bottom: 10px
}

.h2-recipes{
  text-align: left;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 1.3em;
  margin-bottom: 20px;
}

.h3-recipes{
  text-align: left;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 1.3em;
}

.h4-recipes{
  text-align: left;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 1.3em;
}

.main{
  display: grid;
  grid-template-columns: .01fr 2fr 7fr .01fr;;
  grid-column-gap: 3%;
  grid-template-rows: auto;

}

nav{
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1;
  padding: 150px 0 0 0;
}

.nav-bar{
  justify-content: center;
  margin-bottom: 20px;
}


nav ul{
  list-style-type: none;
}

nav li{
  padding: 0 5px 10px 5px;
  text-transform: lowercase;
}

nav a{
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2em;
}

nav a:hover{
  color: #c25f5f;
}

.nav-bar-extras{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 margin-bottom: 20px;
 padding: 10px 0 0 0;
}

.nav-bar-extras ul{
 text-align: end;
}

.nav-bar-extras li{
 display: inline-block;
 padding: 0 5px 3px 5px;
}

.nav-bar-extras a{
 font-size: 1em;
 font-weight: lighter;
}

.active{
 text-decoration: underline;
}

.insta img{
 width: 23%;
 height: 50%;
}

.mango{
 grid-column: 3;
 grid-row: 1;
 padding: 175px 0 0 0;
}

.mango img{
 position: relative;
 width: 100%;
 height: 100%;
 z-index: -1;
}

.skip a{
 background: white;
 left: 0;
 padding: 6px;
 position: absolute;
 top: -40px;
 -webkit-transition:0;
 transition:0;
 z-index: 1;
}

.skip a:focus{
 position: absolute;
 top: 0;
}

.index-header{
 grid-column: 3;
 grid-row: 1;
 font-family: futura-pt, sans-serif;
 text-transform: uppercase;
 font-size: 1.7em;
 letter-spacing: 2px;
 font-weight: lighter;
 text-align: center;
 padding: 150px 0 0 0;
}

header{
font-stretch: expanded;
text-transform: uppercase;
font-size: 1.7em;
letter-spacing: 2px;
text-align: center;
font-weight: lighter;
padding: 10px 0 10px 0;
}

header a{
color: #000000;
text-decoration: none;
}

.gallery{
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: center;
min-height: 500px;
}

.gallery > img{
margin: 10px;
width: 300px;
}

.travel{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  min-height: 500px;
  }

.travel a img{
margin: 10px;
max-width: 300px;
}

.about-me-page{
 display: grid;
 grid-template-columns: 20px auto 20px;
 grid-template-rows: 30px .1fr .2fr .1fr;
 row-gap: 10px;
}

.about-me-header{
 grid-row: 1 / span 1;
 grid-column: 2;
}

.about-me-image{
 grid-row: 2 / span 1;
 grid-column: 2;
}

.about-me-image img{
 width: 100%;
 height: 100%;
}

.about-me-text{
 grid-row: 3 / span 1;
 grid-column: 2;
 margin: 10px;
}

.about-me-text p{
 color: #404040;
 font-weight: lighter;
 line-height: 1.4;
}

.recipes{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  min-height: 500px;
}

.recipes a img{
  margin: 10px;
  width: 320px;
}

.recipes-text ul{
  list-style: "+ ";
  padding-bottom: 30px;
  line-height: 1.4;
}

.recipes-text a{
  color: #000000;
}

.recipes-page{
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 30px .1fr .2fr .1fr;
  row-gap: 10px;
}

.recipes-header{
 grid-row: 1 / span 1;
 grid-column: 2;
}

.recipes-image{
 grid-row: 2 / span 1;
 grid-column: 2;
}

.recipes-image img{
 width: 100%;
 height: 100%;
}

.recipes-text{
 grid-row: 3 / span 1;
 grid-column: 2;
 margin: 10px;
}

.recipes-text p{
 color: #000000;
 line-height: 1.4;
}



.socials{
  display: flex;
  grid-column: 2;
  grid-row: 4;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  min-height: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.socials img{
margin: 5px;
width: 20px;
}

.coffee-salamanca-container{
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: auto auto auto auto auto auto;
  grid-row-gap: 20px;
}

.waycup-heading{
  grid-column: 2 / 3;
  grid-row: 1;
  margin: 20px 0 0 0;
  border: thin;
  border-bottom-style: solid;
}

.waycup-heading h2{
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 1.3em;
}

.waycup-heading a{
  color: #404040;
  text-decoration: none;
}

.waycup-text{
  grid-column: 2 / 3;
  grid-row: 2;
}

.waycup-image{
  grid-column: 2 / 3;
  grid-row: 3;
  margin-bottom: 30px;
}

.waycup-image img{
  width: 100%;
}

.religion-heading{
  grid-column: 2 / 3;
  grid-row: 4;
  border: thin;
  border-bottom-style: solid;
}

.religion-heading h2{
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 1.3em;
}

.religion-heading a{
  color: #404040;
  text-decoration: none;
}

.religion-text{
  grid-column: 2 / 3;
  grid-row: 5;
}

.religion-image{
  grid-column: 2 / 3;
  grid-row: 6;
  margin-bottom: 30px;
}

.religion-image img{
  width: 100%;
}

.madbreak-container{
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: auto;
  grid-row-gap: 20px;
}

.shortstack-heading{
  grid-column: 2 / 3;
  grid-row: 1;
  margin: 20px 0 0 0;
  border: thin;
  border-bottom-style: solid;
}

.shortstack-heading h2, .gotham-heading h2, .madsour-heading h2, .marigold-heading h2{
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 1.3em;
}

.shortstack-heading a, .gotham-heading a, .madsour-heading a, .marigold-heading a{
  color: #404040;
  text-decoration: none;
}

.shortstack-text{
  grid-column: 2 / 3;
  grid-row: 2;
}

.shortstack-image{
  grid-column: 2 / 3;
  grid-row: 3;
  margin-bottom: 30px;
}

.shortstack-image img{
  width: 100%;
  height: 100%;
}

.gotham-heading{
  grid-column: 2 / 3;
  grid-row: 4;
  border: thin;
  border-bottom-style: solid;
}

.gotham-text{
  grid-column: 2 / 3;
  grid-row: 5;
}

.gotham-image{
  grid-column: 2 / 3;
  grid-row: 6;
  margin-bottom: 30px;
}

.gotham-image img{
  width: 100%;
  height: 100%;
}

.madsour-heading{
  grid-column: 2 / 3;
  grid-row: 7;
  border: thin;
  border-bottom-style: solid;
}

.madsour-text{
  grid-column: 2 / 3;
  grid-row: 8;
}

.madsour-image{
  grid-column: 2 / 3;
  grid-row: 9;
  margin-bottom: 30px;
}

.madsour-image img{
  width: 100%;
  height: 100%;
}

.marigold-heading{
  grid-column: 2 / 3;
  grid-row: 10;
  border: thin;
  border-bottom-style: solid;
}

.marigold-text{
  grid-column: 2 / 3;
  grid-row: 11;
}

.marigold-image{
  grid-column: 2 / 3;
  grid-row: 12;
  margin-bottom: 30px;
}

.marigold-image img{
  width: 100%;
  height: 100%;
}

.meatcope-container, .cheapmadrid-container{
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: auto;
  grid-row-gap: 20px;
}

.mother-heading, .takos-heading{
  grid-column: 2;
  grid-row: 1;
  margin: 20px 0 0 0;
  border: thin;
  border-bottom-style: solid;
}

.mother-heading h2, .warpigs-heading h2, .johnshotdog-heading h2, .takos-heading h2, .mercado-heading h2, .grocery-heading h2{
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 1.3em;
}

.mother-heading a, .warpigs-heading a, .johnshotdog-heading a, .takos-heading a{
  color: #404040;
  text-decoration: none;
}

.mother-text, .takos-text{
  grid-column: 2;
  grid-row: 2;
}

.mother-image, .takos-image{
  grid-column: 2;
  grid-row: 3;
  margin-bottom: 30px;
}

.mother-image img, .takos-image img, .mercado-image img, .grocery-image img{
  width: 100%;
  height: 100%;
}

.warpigs-heading, .mercado-heading{
  grid-column: 2;
  grid-row: 4;
  border: thin;
  border-bottom-style: solid;
}

.warpigs-text, .mercado-text{
  grid-column: 2;
  grid-row: 5;
  margin-bottom: 30px;
}

.mercado-image{
  grid-column: 2;
  grid-row: 6;
  margin-bottom: 30px;
}

.johnshotdog-heading{
  grid-column: 2;
  grid-row: 6;
  border: thin;
  border-bottom-style: solid;
}

.johnshotdog-text{
  grid-column: 2;
  grid-row: 7;
}

.johnshotdog-image{
  grid-column: 2;
  grid-row: 8;
  margin-bottom: 30px;
}

.johnshotdog-image img{
  width: 100%;
  height: 100%;
}

.grocery-heading{
  grid-column: 2;
  grid-row: 7;
  border: thin;
  border-bottom-style: solid;
}

.grocery-text{
  grid-column: 2;
  grid-row: 8;
}

.grocery-image{
  grid-column: 2;
  grid-row: 9;
}




footer{
  background-color: #ffffff;
}

/* .index-footer{
  display:grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 50px;
  padding: 10px 12px 0 10px;
}

.copyright{
  grid-column: 1;
  text-align: left;
}

.insta{
  grid-column: 3;
  justify-self: end;
}

.insta a{
  text-decoration: none;
  color: #000000;
} */

a:hover{
  color: #c25f5f;
}

/* .insta a img{
  width: 8%;
  height: 30%;
} */

@media screen and (min-width: 750px){
.main{
  grid-template-columns: 100px 2fr 5fr 100px;
}

.index-header{
  font-size: 2.2em;
}

header{
  display: inline-block;
  padding: 50px 0 10px 30px;
}

nav a{
  font-size: 1.5em;
}

nav li{
  padding: 0 5px 12px 5px;
}

.nav-bar-extras{
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 0;
  padding: 50px 0 0 0;
}

.insta img{
  width: 20px;
  height: 20px;
}

.mango{
  grid-column: 3;
  grid-row: 1;
  padding: 185px 0 0 0;
}

.travel a img{
max-width: 400px;
}

.coffee-salamanca-container, .madbreak-container, .meatcope-container, .cheapmadrid-container{
  grid-template-columns: 150px auto 150px;
}



}

@media screen and (min-width: 1000px){

.main{
  grid-template-columns: 210px 1fr 3fr 210px;

}

.index-header{
  font-size: 2.2em;
  display: inline-block;
}

nav a{
  font-size: 2em;
}


.insta img{
  width: 30px;
  height: 30px;
}

.mango{
  grid-column: 3;
  grid-row: 1;
  padding: 187px 0 0 0;
}


 .gallery > img{
   width: 300px;
 }


 .about-me-page{
   grid-template-columns: 210px auto auto 210px;
   grid-template-rows: auto auto;
   column-gap: 10px;
   row-gap: 30px;
   margin-top: 80px;
 }

 .about-me-image{
   grid-row: 1;
   grid-column: 2 / span 1;
 }

 .about-me-image img{
   width: 100%;
   height: 100%;
 }

 .about-me-text{
   grid-row: 1;
   grid-column: 3 / span 1;
   padding-left: 20px;
   margin: 0;

 }

 .recipes-page{
   grid-template-columns: 210px auto auto 210px;
   grid-template-rows: auto auto;
   column-gap: 10px;
   row-gap: 30px;
   margin-top: 80px;
 }

 .recipes-image{
   grid-row: 1;
   grid-column: 2 / span 1;
 }

 .recipes-image img{
   width: 100%;
   height: 100%;
 }

 .recipes-text{
   grid-row: 1;
   grid-column: 3 / span 1;
   padding-left: 20px;
   margin: 0;

 }

 .socials{
   grid-column: 3 / 4;
   grid-row: auto;
   padding-top: 0;
   padding-bottom: 400px;
 }

 .recipes a img{
   width: 500px;
 }

 .travel a img{
 max-width: 500px;
 }

 .coffee-salamanca-container, .madbreak-container, .meatcope-container, .cheapmadrid-container{
   grid-template-columns: 350px auto 350px;
 }


}
